/*  COMMON  */
#wrap {
  width: 100%;
  min-width: 1000px;
}
section:last-child {
  padding-bottom: 50px;
}
.container,
.include-container,
.site-news-container {
  position: relative;
  width: 1000px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  /* background-color: rgba(0, 255, 255, 0.02); */
}
section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.mode-pc {
  display: block;
}
.mode-mo {
  display: none;
}

/*  HEADER  */
#mainHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
#header {
  position: relative;
  z-index: 200;
}
header {
  position: relative;
  width: 100%;
  height: 80px;
}
header .inner {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.logo {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
#mainHeader header .inner {
  background-color: rgba(251, 251, 251, 0.1);
  color: #fff;
}

nav {
  /* width: calc(100% - 134px); */
  text-align: right;
}
.gnb {
  width: 100%;
  font-size: 0;
}
.gnb > .menu-item {
  display: inline-block;
  position: relative;
  padding: 0 30px;
  font-size: 1rem;
}

.gnb > .menu-item > a {
  display: inline-block;
  width: 100%;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
  color: #aaa;
  transition: 0.25s;
}
#mainHeader .gnb > .menu-item > a {
  color: #fff;
}
#header .gnb > .menu-item > a:hover {
  color: #2a2a2a;
}

#mainHeader .gnb > .menu-item > a:hover {
  color: #dfdfdf;
}

.sub-menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  z-index: 210;
}
#mainHeader .sub-menu {
  background-color: rgba(251, 251, 251, 0.15);
}
.sub-menu > .sub-item:first-child {
  margin-top: 10px;
}
.sub-menu > .sub-item:last-child {
  margin-bottom: 10px;
}
.sub-menu > .sub-item > a {
  line-height: 2.2;
  font-size: 15px;
  transition: 0.25s;
}
.sub-menu > .sub-item > a:hover {
  color: #333;
}

/*  FOOTER  */
footer {
  width: 100%;
}
footer > .foot-inner {
  width: 100%;
  height: 90px;
  background-color: #e6e6e6;
  letter-spacing: -0.05rem;
}

address {
  display: inline-block;
}
.addr-info > .co-info {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 90px;
  padding-right: 14px;
  margin-right: 10px;
  color: #666;
}
.addr-info > .co-info::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  top: 51%;
  right: 0;
  transform: translateY(-50%);
  background-color: #666;
}

.foot-menu {
  display: inline-block;
}
.personal-policy > a {
  font-weight: 700;
  color: #444;
}
.personal-policy > a:hover {
  color: #666;
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 768px) {
  /* ---- COMMON ---- */
  .mode-ta {
    display: block;
  }
  #wrap {
    min-width: 100%;
    /* overflow: hidden; */
  }
  .container,
  .include-container,
  .site-news-container {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }

  /*  HEADER  */
  header {
    height: 67px;
  }

  .logo {
    top: 53%;
    z-index: 210;
  }

  nav {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    margin-left: -16px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  nav.now-on {
    display: block;
  }
  nav .gnb {
    display: none;
    padding: 60px 0 40px;
    background-color: #fff;
  }
  .gnb > .menu-item {
    display: block;
    padding: 0;
  }
  .gnb > .menu-item > a {
    line-height: 70px;
    font-size: 18px;
    color: #2a2a2a;
  }
  .gnb > .menu-item.now-on > a {
    font-weight: 600;
  }
  #mainHeader .gnb > .menu-item > a {
    color: #2a2a2a;
  }

  .sub-menu {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color: #444;
    background-color: #cfcfcf;
  }
  #mainHeader .sub-menu {
    background-color: #cfcfcf;
  }
  .sub-menu > .sub-item > a {
    line-height: 2.5;
    font-size: 17px;
  }

  .ham-btn {
    float: right;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 6px 3px;
    margin-top: 16px;
    box-sizing: border-box;
    z-index: 210;
  }
  .ham-line {
    position: absolute;
    left: 0;
    width: 26px;
    height: 2px;
    background-color: #444;
  }
  #mainHeader .ham-line {
    background-color: #fff;
  }
  .ham-line-1 {
    top: 6px;
  }
  .ham-line-2 {
    top: 14px;
  }
  .ham-line-3 {
    top: 22px;
  }
  .ham-btn.now-on > .ham-line {
    top: 50%;
    left: 50%;
    width: 36px;
  }
  #mainHeader .ham-btn.now-on > .ham-line {
    background-color: #444;
  }
  .ham-btn.now-on > .ham-line-1 {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-btn.now-on > .ham-line-2 {
    display: none;
  }
  .ham-btn.now-on > .ham-line-3 {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  /*  FOOTER  */
  footer > .foot-inner {
    height: auto;
    padding: 30px 0;
  }
  .addr-info > .co-info {
    line-height: 1.8;
  }
  .addr-info > .co-info::after {
    display: none;
  }

  .foot-menu-item > a {
    line-height: 1.8;
  }
}

@media all and (max-width: 480px) {
  /* ---- COMMON ---- */
  .mode-pc {
    display: none;
  }
  .mode-mo {
    display: block;
  }

  /*  HEADER  */
  .ham-btn {
    width: 26px;
    height: 26px;
    padding: 5px 3px;
    margin-top: 20px;
  }
  .ham-line {
    left: 0;
    width: 20px;
    height: 1px;
  }
  .ham-line-1 {
    top: 6px;
  }
  .ham-line-2 {
    top: 12px;
  }
  .ham-line-3 {
    top: 18px;
  }
  .ham-btn.now-on > .ham-line {
    width: 28px;
  }

  /*  FOOTER  */
}
